
/* Page styling */
body {
    background-color: #f2dcf2;
}

main {
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-size: 18px;
}

.row {
    padding: 20px;
}


/* Hyperlinks */
.links {
    font-weight: bold;
    color: grey;
}

.links:visited {
    color: plum;
}

.links:hover {
    color: lightpink;
}

.links:active {
    color: #fa86c4;
}

/* Navigation bar logo*/
.img-responsive{
    max-height: 90px;
    max-width: 120px;
    display:block;
    margin: 0 auto;
}


/* Navigation links */
.nav-item {
    font-size: larger;
}

/* Styling size, color, and palcement of the toggler*/
.navbar-toggler {
    border-color:thistle;
}


/* Header */
header {
    font-size:35px;
    color: #fa86c4;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: 10px;

}

/* Styling the size of the article container */
.container-xs {
    max-width: 1000px;
    margin: auto;
}

/* Index page image */
.img-thumbnail {
    max-width: 300px;
    max-height: 300px;
    float: left;
    margin-right: 20px;
}   

/* Portfolio page images */
.project-pic1{
    max-width: 375px;
    max-height: 300px;
    float:left;
    margin-left: 10px;
    margin-right: -10px;
}

.project-pic2{
    max-width: 230px;
    max-height: 300px;
    float:left;
    margin-left: 10px;
    margin-right: -5px;
}

/* Submit button */
button{
    margin-top: 20px;
}

/* Styling Font Awesome social media icons*/
.fa {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    width: 40px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background:#C13584;
    color: white;
}

.fa-github {
    background: #e84c30;
    color: white;
}

footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#f2dcf2;
   color: white;
   text-align: center;
}
}